@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@700&display=swap');

.person-avatar{
    width: 150px;
    height: 150px;
    position: relative;
    top: 31px;
    display: block;
    margin: 0 auto;
  }
  
  .person-summary{
    width: 264px;
    height: 75px;
    position: relative;
    top: 50px;
    margin: 0 auto;
  }
  
  .person-name{
    width: 128px;
    height: 16px;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 700;
    font-size: 12px;
    line-height: 146%;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    position: relative;
    top: 39px;
    margin: 0 auto;
    }
  
  .person-position{
    width: 108px;
    height: 30px;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 400;
    font-size: 12px;
    line-height: 133%;
    position: relative;
    top: 50px;
    margin: 0 auto;
  }

  .person-container{
    width: 315px;
    height: 400px;
    margin: 57px auto;
    
  }
  
  .person-container:hover{
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.15);
    border-radius: 8px;
  }

