.join-section {
    max-width: 1200px;
    height: 436px;
    background-image:  url(./assets/photo.png);
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
}

@media (max-width: 700px) {

    .join-section {
        height: 523px;
    }
}