.joinProgram-heading {
    position: relative;
    display: inline-block;
}

.joinProgram-heading.join-heading-one {
    width: 480px;
    height: 47px;
    top: 55px;
    color: #FFFFFF;   
}

.joinProgram-heading.join-heading-two {
    width: 452px;
    height: 54px;
    top: 49px;
    color: rgba(255, 255, 255, 0.7);
}

@media (max-width: 480px) {

    .join-heading-one {
        width: 419px;
    }

    .join-heading-two {
        width: 419px;
        height: 89px;
    }
}