
.community-heading {
    position: relative;
    display: inline-block;
}

.community-heading.heading-one {
    width: 470px;
    height: 118px;
    top: 56px;
    color: #464547;
}
.community-heading.heading-two {
    max-width: 561px;
    height: 75px;
    top: 41px;
    color: #666666;
}

@media (max-width: 480px) {

    .heading-one {
        max-width: 419px;
    }

    .heading-two {
        width: 419px;
        height: 189px;
    }
}