.sub-form {
    position: relative;
    top: 95px;
}

.sub-form {
    display: flex;
    gap: 29px;
    justify-content: center;
    flex-flow: row wrap;
}

.button {
    display: inline-block;
    width: 111px;
    height: 36px;
    background-color: #55C2D8;
    border:#55C2D8;
    border-radius: 18px;
    color: #FFFFFF;
    font-family: 'Oswald', sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 14px;
    letter-spacing: 0.1em;
}

.email {
    display: inline-block;
    width: 400px;
    height: 36px;
    background: rgba(255, 255, 255, 0.15);
    border: rgba(255, 255, 255, 0.15);
    color: white;
}
.email::placeholder{
    color: white;
    font-family: 'Source Sans Pro';
    font-weight: 400;
}

.disable {
    display: none;
    opacity: 0.5;
}

.emailInputStatus {
    display: none;
}

@media (max-width: 480px) {

    .emdil {
        display: block;
    }

    .sub-form { 
        gap: 47px;
    }
}