.community-section {
    height: 850px;
    text-align: center;
}

.section-toggler {
  color: red;
  background-color: #ffffff;
  border: red solid 2px;
  padding: 15px;
  position: absolute;
  width: 100px;
  top: 120px;
  right: 2%;
  font-size: 15px;
  box-sizing: content-box;
}

@media (max-width: 700px) {
  .section-toggler {
    width: 70px;
    font-size: 15px;
    padding: 7px;
    
  }
}

@media (max-width: 650px) {
  .section-toggler {
    display: none;
  }
}

@media (max-width: 480px){
    .community-section{
      height: 887px;
    }
  }