@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');

body {
  background-color: #fff;
  font: normal 16px 'Source Sans Pro', sans-serif, Arial;
  max-width: 1200px;
  margin: 0 auto;
}

h1 {
  font-family: 'Oswald', sans-serif;
  font-weight: 700;
  font-size: 48px;
  line-height: 133%;
}

h2 {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 32px;
}

